// Variables

$first-color: rgb(45, 44, 44);
$second-color:  orange;
$third-color: rgb(154, 154, 154);
$fourth-color: black;
$fifth-color: #fff;

// Font

* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;;
}

.calculator {
  margin: 10vw;
  width: 40vw;
  height: 60vh;
  background-color: $fourth-color;
  // font-family: $primary-font;
  border: solid 1px white;
  border-radius: 2%;
  display: grid;
  gap: 10px;
  grid-template-areas: 
  "a a a a"
  "b c d e"
  "f g h i"
  "j k l m"
  "n o p q"
  "r r s t";

  #input {
    grid-area: a;
    background-color: $fourth-color;
    color: $fifth-color;
    font-size: 18px;
    height: 30px;
  }

  #AC {
    grid-area: b;
  }

  #zero {
    grid-area: r;
  }

  &__top {
    background-color: $third-color;
    border-radius: 50%;
    color: $fifth-color;
    font-size: 20px;
  }

  &__symbol {
    background-color: $second-color;
    color: $fifth-color;
    border-radius: 50%;
    font-size: 20px;
  }

  &__number {
    background-color: $first-color;
    color: $fifth-color;
    border-radius: 50%;
    font-size: 20px;
  }
}
